<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
    <nav class="navbar navbar-expand navbar-light bg-light">
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        <a href="#" class="navbar-brand">
            <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
            <img src="resources/logoText.png" alt="logo" class="logo">
            <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        </a>
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
    </nav>
    <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
    <div id="container" class="container-fluid">
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        <div class="heading">This one is CLEARLY not it.</div>    
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        <div id="button" class="btn">Click Me To Go Back</div>
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        <audio id="audio" src="resources/audio.mp3" autoplay loop="loop"></audio>
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        <img id="img" src="resources/rollin.png" alt="lmao" style="display: none;">
        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
    </div>
    <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
</body>
<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//%&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////&%//////%&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(///////&&///////&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//////////(&(//////&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/////////////&&///////&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&(//////%&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&/(&(///////////////&&///////&%//////#&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&%////&&///////////////%&///////&&///////&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&//////(&#///////////////&&///////&&//////(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#//////&&////////////////&%//////#&(//////&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&///////&&//////#&&&&&&&&&&#//////&&///////&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&%//////%&(//////&&/&&//////(&#///(&#//////#&#&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&///////&&//////#&#///%&///////&&/&&///////&&///(&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&//////(&#//////#&///////&%//////(&&&&&&&&&&(//////&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&////&&/////////%&///////&&////////////////////////%&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&//&%////////////&%//////(&#////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&///////&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#////&&////////////////////////&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&//&%////////////////////////&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<script>
    function _0x1858(){var _0x3d71b0=['1457548deUTQI','48062016LlsnBy','getElementsByClassName','none','play','getElementById','3435620chMrkc','audio','inline','heading','display','8550792LjEjtc','button','onclick','2RRIdNI','9925167txtHYW','2438778ucxFRB','style','422586EENLxb','85bRvNIa'];_0x1858=function(){return _0x3d71b0;};return _0x1858();}var _0x150b1e=_0x3ae3;function _0x3ae3(_0x5c3857,_0x57d7e0){var _0x185898=_0x1858();return _0x3ae3=function(_0x3ae3e5,_0x1dcf2e){_0x3ae3e5=_0x3ae3e5-0x19c;var _0x49192f=_0x185898[_0x3ae3e5];return _0x49192f;},_0x3ae3(_0x5c3857,_0x57d7e0);}(function(_0x52053e,_0x1820ce){var _0x5eb3c1=_0x3ae3,_0x5bf3dc=_0x52053e();while(!![]){try{var _0x428400=-parseInt(_0x5eb3c1(0x1a6))/0x1*(parseInt(_0x5eb3c1(0x1ac))/0x2)+-parseInt(_0x5eb3c1(0x1a8))/0x3+-parseInt(_0x5eb3c1(0x19e))/0x4+parseInt(_0x5eb3c1(0x1ab))/0x5*(parseInt(_0x5eb3c1(0x1aa))/0x6)+-parseInt(_0x5eb3c1(0x1a7))/0x7+-parseInt(_0x5eb3c1(0x1a3))/0x8+parseInt(_0x5eb3c1(0x1ad))/0x9;if(_0x428400===_0x1820ce)break;else _0x5bf3dc['push'](_0x5bf3dc['shift']());}catch(_0xfc85fc){_0x5bf3dc['push'](_0x5bf3dc['shift']());}}}(_0x1858,0xe0f62));var btn=document['getElementById'](_0x150b1e(0x1a4));btn[_0x150b1e(0x1a5)]=()=>{var _0x3ab2d6=_0x150b1e;btn[_0x3ab2d6(0x1a9)][_0x3ab2d6(0x1a2)]=_0x3ab2d6(0x1af),document[_0x3ab2d6(0x19d)](_0x3ab2d6(0x19f))[_0x3ab2d6(0x19c)](),document[_0x3ab2d6(0x19d)]('img')[_0x3ab2d6(0x1a9)]['display']=_0x3ab2d6(0x1a0),document[_0x3ab2d6(0x1ae)](_0x3ab2d6(0x1a1))[0x0]['textContent']='jk\x20lol';};
</script>
</html>

<script src="scripts/logo.js"></script>
<script src="scripts/logo.js"></script>
<script src="scripts/logo.js"></script>
<script src="scripts/logo.js"></script>
<script src="scripts/logo.js"></script>