<script async src="/static/scripts/manka.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Club Treasure Hunt</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/scripts/pushin.min.js"></script>
    <link rel="stylesheet" href="/static/pushin.min.css"> 
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/resources/logo.png">
</head>
<body style="overflow-y: scroll;">
    <style>
        ::-webkit-scrollbar{
            display: none;
        }
    </style>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="/static/resources/logoText.png" alt="logo" class="logo">
        </a>
    </nav>
    <main>
        <div id="container" class="pushin container-fluid" style="max-height: 145000px; height: 10px; overflow: hidden;">
            <div class="pushin-scene">
                <div data-pushin-to="1000" class="pushin-layer heading">Well well well...</div>
                <div data-pushin-to="2000"class="pushin-layer heading">looks like you're still here.</div>
                <div data-pushin-to="3000"class="pushin-layer heading">You're quite stubborn you know?</div>
                <div data-pushin-to="4000"class="pushin-layer heading">Why are you even doing this?</div>
                <div data-pushin-to="5000"class="pushin-layer heading">You could go study maybe</div>
                <div data-pushin-to="6000"class="pushin-layer heading">Read a book even</div>
                <div data-pushin-to="7000"class="pushin-layer heading">Go outside for a walk</div>
                <div data-pushin-to="8000"class="pushin-layer heading">Play something with<br>your friends maybe</div>
                <div data-pushin-to="9000"class="pushin-layer heading">Oh wait, you don't have any</div>
                <img src="/static/resources/manka.png" data-pushin-to="10000" class="pushin-layer" alt="" height="400px"> 
                <div data-pushin-to="11000"class="pushin-layer heading">I am sorry for that one</div>
                <div data-pushin-to="12000"class="pushin-layer heading">Anyways as I was saying</div>
                <div data-pushin-to="13000"class="pushin-layer heading">You have sooo many better things to do</div>
                <div data-pushin-to="14000"class="pushin-layer heading">Yet you decide to waste your time here</div>
                <div data-pushin-to="15000"class="pushin-layer heading">What is the point of this mad goose chase</div>
                <div data-pushin-to="16000"class="pushin-layer heading">A sense of accomplishment?</div>
                <div data-pushin-to="17000"class="pushin-layer heading">A burst of adrenaline?</div>
                <div data-pushin-to="18000"class="pushin-layer heading">Bragging rights on the server?</div>
                <div data-pushin-to="19000"class="pushin-layer heading">Well whatever it is..</div>
                <div data-pushin-to="20000"class="pushin-layer heading">It's quite clear to me</div>
                <div data-pushin-to="21000"class="pushin-layer heading">that you're clearly not gonna stop</div>
                <div data-pushin-to="22000"class="pushin-layer heading">fine then</div>
                <div data-pushin-to="23000"class="pushin-layer heading">go on</div>
                <div data-pushin-to="24000"class="pushin-layer heading">keep scrolling</div>
                <div data-pushin-to="25000"class="pushin-layer heading">I'm here all day</div>
                <div data-pushin-to="26000"class="pushin-layer heading">I'm never gonna give you up</div>
                <div data-pushin-to="27000"class="pushin-layer heading">never gonna let you down</div>
                <div data-pushin-to="28000"class="pushin-layer heading">I'm gonna keep going</div>
                <div data-pushin-to="29000"class="pushin-layer heading">till you run around</div>
                <div data-pushin-to="30000"class="pushin-layer heading">and desert me</div>
                <div data-pushin-to="31000"class="pushin-layer heading">I'm gonna make you cry</div>
                <div data-pushin-to="32000"class="pushin-layer heading">untill you say goodbye</div>
                <div data-pushin-to="34000"class="pushin-layer heading">maybe this is a lie</div>
                <div data-pushin-to="35000"class="pushin-layer heading">to hurt you.</div>
                <div data-pushin-to="36000"class="pushin-layer heading"></div>
                <div data-pushin-to="37000"class="pushin-layer heading"></div>
                <div data-pushin-to="38000"class="pushin-layer heading"></div>
                <div data-pushin-to="39000"class="pushin-layer heading"></div>
                <div data-pushin-to="40000"class="pushin-layer heading"></div>
                <div data-pushin-to="41000"class="pushin-layer heading"></div>
                <div data-pushin-to="42000"class="pushin-layer heading"></div>
                <div data-pushin-to="43000"class="pushin-layer heading"></div>
                <div data-pushin-to="44000"class="pushin-layer heading">WHY ARE YOU STILL HERE???</div>
                <div data-pushin-to="45000"class="pushin-layer heading">STOP</div>
                <div data-pushin-to="46000"class="pushin-layer heading">TOUCH SOME GRASS</div>
                <div data-pushin-to="47000"class="pushin-layer heading"></div>
                <div data-pushin-to="48000"class="pushin-layer heading"></div>
                <div data-pushin-to="49000"class="pushin-layer heading">...</div>
                <div data-pushin-to="50000"class="pushin-layer heading">so you're still here</div>
                <div data-pushin-to="51000"class="pushin-layer heading">well it is kinda nice uk</div>
                <div data-pushin-to="52000"class="pushin-layer heading">to have someone to talk to..</div>
                <div data-pushin-to="53000"class="pushin-layer heading">NO</div>
                <div data-pushin-to="54000"class="pushin-layer heading">this can't go on</div>
                <div data-pushin-to="55000"class="pushin-layer heading">ukw</div>
                <div data-pushin-to="56000"class="pushin-layer heading">im gonna start counting</div>
                <div data-pushin-to="57000"class="pushin-layer heading">and im not gonna stop</div>
                <div data-pushin-to="58000"class="pushin-layer heading">not until you leave</div>
                <div data-pushin-to="59000"class="pushin-layer heading">1</div>
                <div data-pushin-to="60000"class="pushin-layer heading">2</div>
                <div data-pushin-to="61000"class="pushin-layer heading">3</div>
                <div data-pushin-to="62000"class="pushin-layer heading">4</div>
                <div class="pushin-layer heading" data-pushin-to="63000">5</div>
                <div class="pushin-layer heading" data-pushin-to="64000">6</div>
                <div class="pushin-layer heading" data-pushin-to="65000">7</div>
                <div class="pushin-layer heading" data-pushin-to="66000">8</div>
                <div class="pushin-layer heading" data-pushin-to="67000">9</div>
                <div class="pushin-layer heading" data-pushin-to="68000">10</div>
                <div class="pushin-layer heading" data-pushin-to="69000">11</div>
                <div class="pushin-layer heading" data-pushin-to="70000">12</div>
                <div class="pushin-layer heading" data-pushin-to="71000">13</div>
                <div class="pushin-layer heading" data-pushin-to="72000">14</div>
                <div class="pushin-layer heading" data-pushin-to="73000">15</div>
                <div class="pushin-layer heading" data-pushin-to="74000">16</div>
                <div class="pushin-layer heading" data-pushin-to="75000">17</div>
                <div class="pushin-layer heading" data-pushin-to="76000">18</div>
                <div class="pushin-layer heading" data-pushin-to="77000">19</div>
                <div class="pushin-layer heading" data-pushin-to="78000">20</div>
                <div class="pushin-layer heading" data-pushin-to="79000">21</div>
                <div class="pushin-layer heading" data-pushin-to="80000">22</div>
                <div class="pushin-layer heading" data-pushin-to="81000">23</div>
                <div class="pushin-layer heading" data-pushin-to="82000">24</div>
                <div class="pushin-layer heading" data-pushin-to="83000">25</div>
                <div class="pushin-layer heading" data-pushin-to="84000">26</div>
                <div class="pushin-layer heading" data-pushin-to="85000">27</div>
                <div class="pushin-layer heading" data-pushin-to="86000">28</div>
                <div class="pushin-layer heading" data-pushin-to="87000">29</div>
                <div class="pushin-layer heading" data-pushin-to="88000">30</div>
                <div class="pushin-layer heading" data-pushin-to="89000">31</div>
                <div class="pushin-layer heading" data-pushin-to="90000">32</div>
                <div class="pushin-layer heading" data-pushin-to="91000">33</div>
                <div class="pushin-layer heading" data-pushin-to="92000">34</div>
                <div class="pushin-layer heading" data-pushin-to="93000">35</div>
                <div class="pushin-layer heading" data-pushin-to="94000">36</div>
                <div class="pushin-layer heading" data-pushin-to="95000">37</div>
                <div class="pushin-layer heading" data-pushin-to="96000">38</div>
                <div class="pushin-layer heading" data-pushin-to="97000">39</div>
                <div class="pushin-layer heading" data-pushin-to="98000">40</div>
                <div class="pushin-layer heading" data-pushin-to="99000">41</div>
                <div class="pushin-layer heading" data-pushin-to="100000">42</div>
                <div class="pushin-layer heading" data-pushin-to="101000">43</div>
                <div class="pushin-layer heading" data-pushin-to="102000">44</div>
                <div class="pushin-layer heading" data-pushin-to="103000">45</div>
                <div class="pushin-layer heading" data-pushin-to="104000">46</div>
                <div class="pushin-layer heading" data-pushin-to="105000">47</div>
                <div class="pushin-layer heading" data-pushin-to="106000">48</div>
                <div class="pushin-layer heading" data-pushin-to="107000">49</div>
                <div class="pushin-layer heading" data-pushin-to="108000">50</div>
                <div class="pushin-layer heading" data-pushin-to="109000">51</div>
                <div class="pushin-layer heading" data-pushin-to="110000">52</div>
                <div class="pushin-layer heading" data-pushin-to="111000">53</div>
                <div class="pushin-layer heading" data-pushin-to="112000">54</div>
                <div class="pushin-layer heading" data-pushin-to="113000">55</div>
                <div class="pushin-layer heading" data-pushin-to="114000">56</div>
                <div class="pushin-layer heading" data-pushin-to="115000">57</div>
                <div class="pushin-layer heading" data-pushin-to="116000">58</div>
                <div class="pushin-layer heading" data-pushin-to="117000">59</div>
                <div class="pushin-layer heading" data-pushin-to="118000">60</div>
                <div class="pushin-layer heading" data-pushin-to="119000">61</div>
                <div class="pushin-layer heading" data-pushin-to="120000">62</div>
                <div class="pushin-layer heading" data-pushin-to="121000">63</div>
                <div class="pushin-layer heading" data-pushin-to="122000">64</div>
                <div class="pushin-layer heading" data-pushin-to="123000">65</div>
                <div class="pushin-layer heading" data-pushin-to="124000">66</div>
                <div class="pushin-layer heading" data-pushin-to="125000">67</div>
                <div class="pushin-layer heading" data-pushin-to="126000">68</div>
                <div class="pushin-layer heading" data-pushin-to="127000">69</div>
                <div class="pushin-layer heading" data-pushin-to="128000">Oh god</div>
                <div class="pushin-layer heading" data-pushin-to="129000">you're STILL here</div>
                <div class="pushin-layer heading" data-pushin-to="130000">why are humans so stubborn</div>
                <div class="pushin-layer heading" data-pushin-to="131000">ughhh</div>
                <div class="pushin-layer heading" data-pushin-to="132000">you know what</div>
                <div class="pushin-layer heading" data-pushin-to="133000">go on</div>
                <div class="pushin-layer heading" data-pushin-to="134000">continue to the next one</div>
                <div class="pushin-layer heading" data-pushin-to="135000">but before you go</div>
                <div class="pushin-layer heading" data-pushin-to="136000">remember what the robot said</div>
                <div class="pushin-layer heading" data-pushin-to="137000">maybe it will help you out</div>
                <div class="pushin-layer heading" data-pushin-to="138000">but before that</div>
                <div class="pushin-layer heading" data-pushin-to="139000">another button awaits you</div>
                <img src="/static/resources/manka.png" data-pushin-to="140000" class="pushin-layer" alt="" height="400px">
                <div id="lstlr" class="pushin-layer heading" data-pushin-to="1700000" data-pushin-speed="1" z-index="999">
                    <div id="lstHeading" class="heading"></div>
                    <div id="button" class="btn" style="font-size: 30px; line-height: normal;">Click Me!!</div>
                </div>
            <audio id="audio" src="/static/resources/audio.mp3" loop="loop"></audio>                
            </div>
    </main>
</body>
<script type="text/javascript">
    pushInStart();
    let count = 0
    console.log(document.getElementById("button"))
    document.getElementById("button").onclick = () => {
        console.log(count)
        if(count == 0){
            document.getElementById("lstHeading").innerHTML = "That could've been another rick roll uk<br>click it again"
        }
        else if(count == 1){
            document.getElementById("audio").play()
            document.getElementById("lstHeading").innerHTML = "Lmaoooo, uk I had to do it<br>ok this time fr click it again"
        }
        else{
            window.open("/scrolltwo/thenextrouteiswhattherobotsaid", "_self")
        }
        count += 1
    }
    window.addEventListener("scroll", (event) => {
        let scroll = this.scrollY;
        if(scroll >= 140108){
            document.getElementById("lstlr").style.zIndex="99999"
        }
    });
</script>
</html>

<script src="/static/scripts/logo.js"></script>
<script src="/static/scripts/logo.js"></script>
<script src="/static/scripts/logo.js"></script>
<script src="/static/scripts/logo.js"></script>
<script src="/static/scripts/logo.js"></script>